.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  div {
    border: 2px solid $border-color;
    border-radius: $border-radius-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $container-padding-y $container-padding-x;
    > form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
      > label > input {
        padding: $container-padding-y $container-padding-x;
        width: 250px;
        background-color: transparent;
        border-color: transparent;
        border-bottom: 2px solid $border-color;
      }
      > a {
        color: $primary-color;
        text-decoration: none;
        padding-top: 20px;
      }
    }

    > header {
      padding: $header-padding-y $header-padding-x;
      > label {
        font-size: 1.3rem;
        color: $white;
      }
    }

    > footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $footer-padding-y $footer-padding-x;
      > label {
        padding: $footer-padding-y $footer-padding-x;
      }
    }
  }

  .btn {
    @include btn-variant(
      $primary-color,
      $primary-color,
      transparent,
      5px,
      100px
    );
  }
  .btn-primary {
    @include btn-variant($white, transparent, $primary-color, 5px, 100px);
  }
}
