@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}
@mixin btn-variant(
  $color,
  $border-color,
  $background-color,
  $btn-padding-y,
  $btn-padding-x
) {
  color: $color;
  border-color: $border-color;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: 20px;
  background-color: $background-color;

  &:hover {
    color: $primary-color;
    border-color: transparent;
    background-color: $white;
  }
}
